@if (bestClub) {
  <div>Real Madrid</div>
} @else {
  <div>Barcelona</div>
}

<button (click)="bestClub = !bestClub">Togggle</button>

<div>
  @switch (clubName) {
    @case ("real") {
      <div>Real</div>
    }
    @case ("barca") {
      <div>Barca</div>
    }
    @case ("milan") {
      <div>Milan</div>
    }
    @default {
      <div>Default</div>
    }
  }
</div>

<button (click)="clubName = 'real'">Real</button>
<button (click)="clubName = 'barca'">Barca</button>
<button (click)="clubName = 'milan'">Milan</button>

<ul>
  @for (club of clubs; track club) {
    <li>{{ club }}</li>
  }
</ul>

<ul>
  @for (club of clubs; track club) {
    <li>{{ club }}</li>
  }
</ul>
